#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-scores {
    font-size: 3.8rem;
    margin-bottom: 0.5rem;
    color: #28a745;
}

.high-scores:hover{
    transform: scale(1.025);
}